<header class="header">
  <a routerLink="/" tabindex="0">
    <img
      ngSrc="assets/icons/header-icon.png"
      alt="Logo von FRIDA"
      class="frida-image"
      height="182" width="1024"
    />
  </a>


  <nav>
    <a
      class="header-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
      >{{ "HEADER.API_CATALOGUE" | translate }}</a
    >

    <a
      class="header-link"
      routerLink="/api-explorer"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >{{ "HEADER.API_EXPLORER" | translate }}</a
    >
  </nav>

  <section>
    <button class="language-button" (click)="switchLanguage()" (keydown.enter)="switchLanguage()" (keydown.space)="switchLanguage()">
      @if (translate.currentLang === 'de') {
        <img id="en-flag" ngSrc="assets/icons/en_flag.png" alt="Flag of the USA" height="12" width="18">
      }

      @if (translate.currentLang === 'en') {
        <img id="de-flag" ngSrc="assets/icons/de_flag.png" alt="Flag of Germany" height="12" width="18">
      }
    </button>

    <a class="contact-button" href="mailto:info@freeinsurancedata.de">info&#64;freeinsurancedata.de</a>
  </section>
</header>
