.header {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.frida-image {
    position: absolute;
    left: 0;
    max-width: 10%;
    height: auto;
    &:hover {
      cursor: pointer;
  }
}


.header-link {
    padding: 1rem 1rem;
    margin: 0 0.5rem;
    background-color: var(--secondary-color);

    border: 1px solid transparent;
    border-radius: 1rem;

    color: black;
    text-decoration: none;

    &:hover {
        background-color: darken($color: #82f4d8, $amount: 20);
        border-color: black;
        cursor: pointer;
    }

    &.active {
        background-color: darken($color: #82f4d8, $amount: 20);
        border-color: black;
    }
}
