<header class="header">
    <img src="assets/icons/favicon_150x150.png" alt="Logo von FRIDA" class="frida-image">
    <div class="frida-name" routerLink="/">
        <span>FREE INSURANCE DATA</span>
        <span>INITIATIVE</span>
    </div>

    <nav>
        <a
            class="header-link"
            routerLink="/api-matrix"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        >API Katalog</a>

        <a
            class="header-link"
            routerLink="/api-landscape"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        >API Landschaft</a>

        <a
            class="header-link"
            routerLink="/data-model"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        >FRIDA Data Model</a>
    </nav>

</header>