
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$marketplace-primary: mat.define-palette(mat.$indigo-palette);
$marketplace-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$marketplace-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$marketplace-theme: mat.define-light-theme((
  color: (
    primary: $marketplace-primary,
    accent: $marketplace-accent,
    warn: $marketplace-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($marketplace-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --main-color: #1AB3B9;
  --secondary-color: #82f4d8;
}

@font-face {
  font-family: Comfortaa;
  src: url(assets/fonts/comfortaa--v40-normal-300.woff2);
}

html, body { height: 100%; overflow: hidden;
min-height: 100%; }
body {
  margin: 0;
  font-family: "Comfortaa", "Helvetica Neue", sans-serif;
  background: radial-gradient(at top center, #22d9e0 0%, #000000 100%) no-repeat scroll center center / cover;
}

.center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 100%;
  margin: 0 auto;
}

// Media queries for larger screens
@media (min-width: 600px) {
  main {
    max-width: 90%;
  }
}

@media  (min-width: 768px) {
  main {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  main {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  main {
    max-width: 60%;
  }
}
