$white: #FFFFFF;
$primary-light-1: #1FC9CF;
$lightblack: #06292A;
$black: #000000;
$primary: #29B3B8;
$grey: #CCCCCC;
$darkgrey: #666666;
$box-shadow: #00000029;
$green: #6FBEAB;
$darkblue: #6693C7;
$pink: #F79BE9;
$rosa: #ECDFF5;
$orange: #FEBDAF;
$beige: #C0C5D1;
$lightgreen: #CEF5D5;
$babyblue: #D4EFF7;
$lightorange: #F4E4CB;
$yellow: #F7F7D4;
$turquoise: #7EF5F5;
$lightgrey-2: #EFEFEF;
$red: #F7C4CC;
$lightgrey-1: #0000001A;
$primary-light-2: #82F4D8;
