.container {
  padding-top: 5rem;
}
.extra-information {
  visibility: hidden;
}
h2 {
  color: white;
}
.header-row {
  display: grid;
  gap: 2rem;
  height: 4rem;
  margin-bottom: 10px;
  grid-template-columns: repeat(4, calc(25% - 2rem));
}

.api-title {
  color: white;
  font-size: 2rem;
  &:hover {
    cursor: pointer;
  }
}
#row {
  display: grid;
  gap: 2rem;
  &:hover {
    background-color: rgba(white, 0.2);
    .extra-information {
      color: white;
      visibility: visible;
      height: 150px;
    }
    .api-column {
      background-color: rgba(white, 0.2);
    }
  }
  grid-template-columns: repeat(4, calc(25% - 2rem));
}

.api-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(white, 0.2);
}
.company-title {
  border-bottom: 2px solid white;
}
