
.container {
  padding-top: 5rem;
}
.extra-information {
  visibility: hidden;
}
.header-row {
  display: grid;
  gap: 2rem;
  height: 4rem;
  margin-bottom: 10px;
  grid-template-columns: repeat(4, calc(25% - 2rem));
}

.api-title {
  color: white;
  font-size: 2rem;
  &:hover {
    cursor: pointer;
  }

}
#row{
  display: grid;
  gap: 2rem;
  &:hover {
    background-color: #3da1a6;
    .extra-information {
      visibility: visible;
      height: 150px;
    }
    .api-column {
      background-color: #3da1a6;
    }
  }
  grid-template-columns: repeat(4, calc(25% - 2rem));
}

.api-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #28888c;
}
.company-title {
  border-bottom: 2px solid white;
}

.download-and-comment-section {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.download-section, .comment-section {
  width: 45%;
}

.section-headline {
  color: white;
}
