.download-and-comment-section {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.download-section, .comment-section {
  width: 45%;
}

.section-headline {
  color: white;
}
