@import "scss/colors.scss";
.container {
  position: relative;
  height: 100%;

  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 3px 6px $box-shadow;

  .hover-container {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    border-radius: 20px;

    &:hover,
    &:focus {
      transition: background-color 0.3s ease-out;
      background-color: rgba($primary, 0.2);
    }
  }
  .download-item-container {
    display: flex;
    gap: 10px;
    align-items: center;
    div {
      color: $black;
      font-size: 16px;
      font-weight: bold;
      word-wrap: break-word;
    }
  }
  .download-item-content-container {
    padding-left: 28px;
    padding-bottom: 16px;
    display: flex;
    gap: 28px;
  }
  .title-container {
    display: flex;

    h2 {
      margin: 8px 0 0 16px;
      color: $primary;
    }
  }
}
.downloads-card-section {
  background: radial-gradient(at top center, #22d9e0 0%, #000000 100%) no-repeat
    scroll center center / cover;
  padding-bottom: 100px;

  .poly-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    .bg-svg-1 {
      position: absolute;
      width: 1920px;
      top: -500px;
      left: -600px;
      transform: rotate(-30deg);
      scale: 0.5;
    }

    .bg-svg-2 {
      position: absolute;
      width: 1920px;
      top: -450px;
      right: -600px;
      transform: rotate(30deg);
      scale: 0.5;
    }
  }

  .elevated-container {
    position: relative;
    z-index: 200;

    .downloads-headline {
      color: $white;
      font-size: 50px;
      text-align: center;
      margin: 0;
      padding: 66px 0 8px 0;
    }

    .downloads-subheadline {
      color: $black;
      font-size: 16px;
      text-align: center;
      margin: 0;
      padding-bottom: 60px;
    }
  }
}

.description-container {
  padding: 16px 8px;
}

.downloads-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(410px, 100%), 1fr));
  gap: 16px;
}

.goal-section {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 116px;
  word-break: break-word;

  .goal-headline {
    color: $primary;
    font-size: 30px;
    margin: 0;
    padding-bottom: 20px;
  }

  .goal-subheadline {
    width: 100%;
    color: #22d9e0;
    margin: 0;
    padding-bottom: 20px;
  }

  .goal-info {
    width: 80%;
    text-align: center;
    padding: 0 48px 38px 48px;
  }

  .goal-box {
    padding: 41px;
    background-color: rgba($primary, 0.1);
  }

}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-items: left;
  align-items: flex-start;
  width: 100%;
  border-radius: 20px;

  .container-left {
    width: 50%;
    float: left;
  }

  .container-right {
    width: 50%;
    float: right;
  }

  li {
    span {
      display: inline-flex;
      width: calc(100% - 23px);
    }
    padding-bottom: 10px;
  }

  li::marker {
    color: $primary;
  }
}
