<div class="accessibility-statement">
  <h1>{{ "ACCESSIBILITY_STATEMENT.HEADLINE" | translate }}</h1>
  <p>{{ "ACCESSIBILITY_STATEMENT.SUBHEADLINE" | translate }}</p>

  <h2>{{ "ACCESSIBILITY_STATEMENT.MEASURES_HEADLINE" | translate }}</h2>
  <p>{{ "ACCESSIBILITY_STATEMENT.MEASURES_TEXT" | translate }}</p>
  <ul>
    <li>{{ "ACCESSIBILITY_STATEMENT.MEASURES_LIST_ONE" | translate }}</li>
    <li>{{ "ACCESSIBILITY_STATEMENT.MEASURES_LIST_TWO" | translate }}</li>
  </ul>

  <h2>{{ "ACCESSIBILITY_STATEMENT.CONFORMANCE_HEADLINE" | translate }}</h2>
  <p>{{ "ACCESSIBILITY_STATEMENT.CONFORMANCE_TEXT" | translate }}</p>

  <h3>{{ "ACCESSIBILITY_STATEMENT.CONSIDERATIONS_HEADLINE" | translate }}</h3>
  <p>{{ "ACCESSIBILITY_STATEMENT.CONSIDERATIONS_TEXT" | translate }}</p>

  <h2>{{ "ACCESSIBILITY_STATEMENT.FEEDBACK_HEADLINE" | translate }}</h2>
  <p>
    {{ "ACCESSIBILITY_STATEMENT.FEEDBACK_TEXT" | translate }}
  </p>
  <ul>
    <li>
      {{ "ACCESSIBILITY_STATEMENT.FEEDBACK_LINK" | translate }}
      <a class="email u-email" href="mailto:info@freeinsurancedata.de">info&#64;freeinsurancedata.de</a>
    </li>
    <li>{{ "ACCESSIBILITY_STATEMENT.FEEDBACK_POSTAL" | translate }}</li>
    <li>
      Twitter: &#64;frida_germany<br>
      LinkedIn: FRIDA - Free Insurance Data Initiative
    </li>
  </ul>

  <h2>{{ "ACCESSIBILITY_STATEMENT.TECHNICAL_HEADLINE" | translate }}</h2>
  <p>{{ "ACCESSIBILITY_STATEMENT.TECHNICAL_TEXT_ONE" | translate }}</p>
  <ul>
    <li>HTML</li>
    <li>WAI-ARIA</li>
    <li>CSS</li>
    <li>JavaScript</li>
  </ul>
  <p>{{ "ACCESSIBILITY_STATEMENT.TECHNICAL_TEXT_TWO" | translate }}</p>

  <h2>{{ "ACCESSIBILITY_STATEMENT.LIMITATIONS_HEADLINE" | translate }}</h2>
  <p>{{ "ACCESSIBILITY_STATEMENT.LIMITATIONS_TEXT_ONE" | translate }}</p>
  <p>{{ "ACCESSIBILITY_STATEMENT.LIMITATIONS_TEXT_TWO" | translate }}</p>
  <ol>
    <li><strong>{{ "ACCESSIBILITY_STATEMENT.LIMITATIONS_LIST_ONE_STRONG" | translate }}</strong>{{ "ACCESSIBILITY_STATEMENT.LIMITATIONS_LIST_ONE_TEXT" | translate }}</li>
    <li><strong>{{ "ACCESSIBILITY_STATEMENT.LIMITATIONS_LIST_TWO_STRONG" | translate }}</strong>{{ "ACCESSIBILITY_STATEMENT.LIMITATIONS_LIST_TWO_TEXT" | translate }}</li>
  </ol>

  <h2>{{ "ACCESSIBILITY_STATEMENT.ASSESSMENT_HEADLINE" | translate }}</h2>
  <p>{{ "ACCESSIBILITY_STATEMENT.ASSESSMENT_TEXT" | translate }}</p>
  <ul>
    <li>{{ "ACCESSIBILITY_STATEMENT.ASSESSMENT_LIST_ONE" | translate }}</li>
  </ul>

  <h2>{{ "ACCESSIBILITY_STATEMENT.DATE_HEADLINE" | translate }}</h2>
  <p>{{ "ACCESSIBILITY_STATEMENT.DATE_TEXT" | translate }}</p>

</div>
