<section class="downloads-card-section">
  <div class="poly-container">
    <img src="/assets/images/poly-bg-white-01.svg" class="bg-svg-1" alt="" />
    <img src="/assets/images/poly-bg-white-01.svg" class="bg-svg-2" alt="" />
  </div>

  <div class="elevated-container">
    <h1 class="downloads-headline">
      {{ "DOWNLOADS.HEADLINE" | translate }}
    </h1>
    <p class="downloads-subheadline">
      {{ "DOWNLOADS.SUBHEADLINE" | translate }}
    </p>
    <div class="downloads-card-container auto-main-width">
      @for(downloadContainer of downloadContainers; track downloadContainer.key)
      {
      <div class="container">
        <a class="hover-container" tabindex="0"
          ><span class="sr-only">
            {{
              "DOWNLOADS.TILES." + downloadContainer.key + ".TITLE" | translate
            }}
          </span>
        </a>
        <div class="title-container">
          <div class="icon-container">
            <img
              ngSrc="./assets/icons/icon-download-img.svg"
              alt=""
              width="52"
              height="52"
            />
          </div>
          <h2>
            {{
              "DOWNLOADS.TILES." + downloadContainer.key + ".TITLE" | translate
            }}
          </h2>
        </div>
        <div class="description-container">
          @for(download of downloadContainer.downloads; track download){
          <div class="download-item-container">
            <img
              ngSrc="./assets/icons/icon-download.svg"
              alt=""
              width="18"
              height="18"
            />
            <div>{{ download.title }}</div>
          </div>
          <div class="download-item-content-container">
            <span>{{ download.version }}</span>
            <span>{{ download.date }}</span>
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
</section>

<section class="goal-section auto-main-width">
  <h2 class="goal-headline">
    {{ "DOWNLOADS.GOAL.TITLE" | translate }}
  </h2>
  <p class="goal-info">
    {{ "DOWNLOADS.GOAL.TEXT" | translate }}
  </p>

  <div class="goal-box">
    <h2 class="goal-subheadline">
      {{ "DOWNLOADS.GOAL.BOX.TITLE" | translate }}
    </h2>
    <div class="goal-grid">
      <div>
        <div>{{ "DOWNLOADS.GOAL.BOX.LEFT.TEXT_1" | translate }}</div>
        <h4>
          {{ "DOWNLOADS.GOAL.BOX.LEFT.HEADING_1" | translate }}
        </h4>
      </div>
      <div>
        <li>{{ "DOWNLOADS.GOAL.BOX.RIGHT.TEXT_1" | translate }}</li>
        <li>{{ "DOWNLOADS.GOAL.BOX.RIGHT.TEXT_2" | translate }}</li>
      </div>
    </div>
    <div class="goal-grid">
      <div>
        <li>{{ "DOWNLOADS.GOAL.BOX.LEFT.TEXT_2" | translate }}</li>
      </div>
      <div>
        <li>{{ "DOWNLOADS.GOAL.BOX.RIGHT.TEXT_3" | translate }}</li>
        <li>{{ "DOWNLOADS.GOAL.BOX.RIGHT.TEXT_4" | translate }}</li>
      </div>
    </div>
  </div>
</section>
