<div class="scrollable-container" #main id="main">
  <div class="poly-container">
    <img src="/assets/images/poly-bg-white-01.svg" class="bg-svg-1" alt="" />
    <img src="/assets/images/poly-bg-white-01.svg" class="bg-svg-2" alt="" />
  </div>

  <div class="main-elevated">
    <app-header [scrollPosition]="scrollPosition" />
    <main>
      <router-outlet></router-outlet>
    </main>
    <button
      (click)="backToTop()"
      [ngStyle]="
        scrollPosition >= 200
          ? { visibility: 'visible ' }
          : { visibility: 'hidden ' }
      "
      class="back-to-top"
    >
      <span class="center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 24 24"
        >
          <path fill="white" d="M15 20H9v-8H4.16L12 4.16L19.84 12H15z" />
        </svg>
      </span>
    </button>
  </div>

  <app-footer />
</div>
