<a class="skip-to-main-content-link" [routerLink]="router.url" [fragment]="'nav'" >Skip to Navigation</a>
<a class="skip-to-main-content-link" [routerLink]="router.url" [fragment]="'main'" >Skip to Main Content </a>

<div #top>

  <app-header id="nav"></app-header>

  <main id="main">
    <router-outlet></router-outlet>
  </main>

  <button
    (click)="backToTop()"
    [ngStyle]="
      scrollPosition >= 200
        ? { visibility: 'visible ' }
        : { visibility: 'hidden ' }
    "
    class="back-to-top"
    aria-label="back to top button"
  >
    <span class="center">
      <span class="sr-only">Back to top button</span>
      <svg
        role="presentation"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 24 24"
      >
        <path fill="white" d="M15 20H9v-8H4.16L12 4.16L19.84 12H15z" />
      </svg>
    </span>
  </button>
</div>

<app-footer />
