.back-to-top {
  all: unset;

  visibility: hidden;
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: inline-flex;

  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0.25em;
  width: 40px;
  height: 40px;
  z-index: 1000;
  background-color: #1ab3b9;

  &:hover {
    background-color: #22d9e0;
  }
}

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
