:host {
  position: absolute;
  overflow-y: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.poly-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.bg-svg-1 {
  position: absolute;
  width: 1920px;
  top: -500px;
  left: -600px;
  transform: rotate(-30deg);
  scale: .5;
}

.bg-svg-2 {
  position: absolute;
  width: 1920px;
  top: -450px;
  right: -600px;
  transform: rotate(30deg);
  scale: .5;
}

.main-elevated {
  position: relative;
  z-index: 99;
}
