.api-layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: 16rem 1fr 5rem;
  min-height: calc(100% - 101px);
}

.level-one-title {
  font-weight: 600;
  color: white;
  padding: 0.8rem 0;
}

.level-two-header {
  margin-left: 2.5rem;
  padding-left: 0.5rem;
}

.level-two-title {
  color: white;
  padding: 0.6rem 0;
}

.level-three-title {
  padding: 0.2rem 0 0.2rem 3.5rem;
  color: darkgray;

  &:hover {
    color: teal;
    text-decoration: underline;
    cursor: pointer;
  }

  &:last-of-type {
    padding-bottom: 0.6rem;
  }
}

.image {
  width: 1rem;
  aspect-ratio: 1/1;
  margin-right: 0.5rem;
}

#swagger-ui {
  padding: 0 1rem;
  margin-top: 4rem;
}

.sidemenu-container {
  padding-top: 4rem;
}

.content {
  border-left: 1px solid rgba($color: #ffffff, $alpha: 0.3);
  border-right: 1px solid rgba($color: #ffffff, $alpha: 0.3);
}
.select-text {
  color: white;

  padding: 0 1rem;

  margin-top: 4rem;
}
