.baseCircle {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
.isPlanned {
background-color: grey;
}
.inDevelopment {
  background-color: yellow;
}
.inProduction {
  background-color: green;
}
