.api-card {
  max-width: 25rem;
  cursor: pointer;
}

.mat-mdc-card.mdc-card:hover {
  box-shadow: 4px 4px 2px 1px rgba(26, 179, 185, 0.1);
}

.cards-container {
  display: flex;
  gap: 0.625rem 1.25rem;
}

.card-title {
  font-size: 1.5rem;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
