.api-card {
  max-width: 25rem;
}

.cards-container {
  display: flex;
  gap: 0.625rem 1.25rem;
}

.card-title {
  font-size: 1.5rem;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
