@if (apiList$ | async; as apiList) {
  <div class="cards-container">
    @for (api of apiList; track api) {
      <div>
        <mat-card class="api-card" [routerLink]="['/apis', api.id]">
          <mat-card-header>
            <mat-card-title class="card-title">{{ api.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-content">
            <p>{{ api.shortDescription }}</p>
          </mat-card-content>
          <img
            mat-card-image
            class="card-image"
            ngSrc="{{ api.iconPath }}"
            alt="API Logo"
            height="100"
            width="100"
          />
        </mat-card>
      </div>
    }
  </div>
}